:root {
  --font-family: 'Fira Sans', sans-serif;
  --font-weight: 500;
  --font-style: normal;
  --color-primary: #474747;
  --font-size: 3em
}

$backgroundcolor: var(--color-primary);
$colorfont: #f5f5f5;
$eggshell: #f4f1de;
$burnsienna: #e07a5f;
$delftblue: #3d406b;
$cambridge: #81b29a;
$sunset: #f2cc8b;
$title: 2.7em;
$subtitle: 1.3em;
$comment: 1.4em